<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/Books">Booklist</a></li>
				<li><a href="/Course_content">Courses</a></li>
				<li><a href = "/UWE">UWE material</a></li>
				<li><a href = "/CCC">CCC material</li>
				<li><a href = "/InterviewExperiences">Interview Experiences</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
